.f-s-5 {
	font-size: 0.5rem;
}

.f-s-6 {
	font-size: 0.6rem;
}

.f-s-7 {
	font-size: 0.7rem;
}

.f-s-8 {
	font-size: 0.8rem;
}

.f-s-9 {
	font-size: 0.9rem;
}

.f-s-10 {
	font-size: 1rem;
}

.f-s-11 {
	font-size: 1.1rem;
}

.f-s-12 {
	font-size: 1.2rem;
}

.f-s-13 {
	font-size: 1.3rem;
}

.f-s-14 {
	font-size: 1.4rem;
}

.f-s-15 {
	font-size: 1.5rem;
}

.f-s-16 {
	font-size: 1.6rem;
}

.f-s-17 {
	font-size: 1.7rem;
}

.f-s-18 {
	font-size: 1.8rem;
}

.f-s-19 {
	font-size: 1.9rem;
}

.f-s-20 {
	font-size: 2rem;
}

.f-s-21 {
	font-size: 2.1rem;
}

.f-s-22 {
	font-size: 2.2rem;
}

.f-s-23 {
	font-size: 2.3rem;
}

.f-s-24 {
	font-size: 2.4rem;
}

.f-s-25 {
	font-size: 2.5rem;
}

.f-s-26 {
	font-size: 2.6rem;
}

.f-s-27 {
	font-size: 2.7rem;
}

.f-s-28 {
	font-size: 2.8rem;
}

.f-s-29 {
	font-size: 2.9rem;
}

.f-s-30 {
	font-size: 3.0rem;
}

.f-s-31 {
	font-size: 3.1rem;
}

.f-s-32 {
	font-size: 3.2rem;
}

.f-s-33 {
	font-size: 3.3rem;
}

.f-s-34 {
	font-size: 3.4rem;
}

.f-s-35 {
	font-size: 3.5rem;
}

.f-s-36 {
	font-size: 3.6rem;
}

.f-s-37 {
	font-size: 3.7rem;
}

.f-s-38 {
	font-size: 3.8rem;
}

.f-s-39 {
	font-size: 3.9rem;
}

.f-s-40 {
	font-size: 4.0rem;
}

.f-s-41 {
	font-size: 4.1rem;
}

.f-s-42 {
	font-size: 4.2rem;
}

.f-s-43 {
	font-size: 4.3rem;
}

.f-s-44 {
	font-size: 4.4rem;
}

.f-s-45 {
	font-size: 4.5rem;
}

.f-s-46 {
	font-size: 4.6rem;
}

.f-s-47 {
	font-size: 4.7rem;
}

.f-s-48 {
	font-size: 4.8rem;
}

.f-s-49 {
	font-size: 4.9rem;
}

.f-s-50 {
	font-size: 5rem;
}